<%= turbo_frame_tag dom_id(quest), data: { controller: "quest" } do %>
  <div class="flex items-center justify-between p-4 bg-white shadow-md rounded-lg mb-2">
    <div class="flex items-center">
      <%= button_to toggle_quest_path(quest), method: :patch, class: "mr-4" do %>
        <%= check_box_tag "quest_status_#{quest.id}", quest.id, quest.status?, data: { action: "change->quest#toggle", quest_target: "checkbox" }, class: "h-6 w-6 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500" %>
      <% end %>
      <span class="<%= quest.status? ? 'line-through' : '' %>"><%= quest.name %></span>
    </div>
    <%= button_to "Delete", quest_path(quest), method: :delete, class: "text-red-500 hover:underline" %>
  </div>
<% end %>
