<%= turbo_frame_tag dom_id(quest), data: { controller: "quest" } do %>
  <div class="flex items-center justify-between p-4 bg-white hover:bg-pink-50 shadow-sm hover:shadow-md border border-pink-100 rounded-lg mb-3 transition-all duration-200">
    <div class="flex items-center">
      <%= button_to toggle_quest_path(quest), method: :patch, class: "mr-4" do %>
      <%= check_box_tag "quest_status_#{quest.id}", quest.id, quest.status?,
        data: { action: "change->quest#toggle", quest_target: "checkbox" },
        class: "
          h-6 w-6 mt-2 rounded 
          appearance-none border-2 border-pink-300 
          checked:bg-pink-500 checked:border-pink-500
          focus:ring-2 focus:ring-pink-400 focus:outline-none
          transition-all duration-200
          relative
          checked:before:content-['✓'] checked:before:absolute checked:before:inset-0 checked:before:flex checked:before:items-center checked:before:justify-center checked:before:text-white checked:before:text-sm" 
      %>

      <% end %>
      <!-- สำหรับ mobile -->
      <span class="sm:hidden <%= quest.status? ? 'line-through text-pink-400' : 'text-pink-600' %> transition-colors duration-200 font-medium text-xl">
        <%= truncate(quest.name, length: 23) %>
      </span>

      <!-- สำหรับ desktop -->
      <span class="hidden sm:inline <%= quest.status? ? 'line-through text-pink-400' : 'text-pink-600' %> transition-colors duration-200 font-medium text-xl">
        <%= truncate(quest.name, length: 89) %>
</span>
    </div>
    <%= button_to quest_path(quest), method: :delete, class: "text-pink-400 hover:text-pink-600 hover:bg-pink-100 p-2 rounded-xl transition-all duration-200" do %>
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
      </svg>
    <% end %>
  </div>
<% end %>